<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile</title>
        <link rel="stylesheet" type="text/css" href="gamerProfile.css">
    </head>
    <body>
        <h1>Arcades Assemble</h1>
        <div class="container">
        <div class="avatar"><img src="./Images/mojojojo.png" width="80%" height="90%"></div>
        <div class="info">Mojo Jojo</div>
        </div>
        <div class="scores">
            <!-- <ul> -->
            <div class="square">
                <a href="#">
                    <div class="item">
                        <img class="game-logo_flappy-bird" src="./Images/flappybird.png">
                        <h4>Flappy Bird</h4>
                        <p>Highest Score:</p>
                    </div>
                </a>
            </div>
            <div class="square">
                <a href="#">
                    <div class="item">
                        <img class="game-logo_2048" src="./Images/2048.png">
                        <h4>2048</h4>
                        <p>Highest Score:</p>
                    </div>
                </a>
            </div>
            <div class="square">
                <a href="#">
                    <div class="item">
                        <img class="game-logo_snake" src="./Images/snake.png">
                        <h4>Snake</h4>
                        <p>Highest Score:</p>
                    </div>
                </a>
            </div>
            <div class="square">
                <a href="#">
                    <div class="item">
                        <img class="game-logo_tetris" src="./Images/tetris.png">
                        <h4>Tetris</h4>
                        <p>Highest Score:</p>
                    </div>
                </a>
            </div>
            <div class="square">
                <a href="#">
                    <div class="item">
                        <img class="game-logo_guess-the-color" src="./Images/color.png">
                        <h4>Guess The<br>Color</h4>
                        <p>Highest Score:</p>
                    </div>
                </a>
            </div>
            <!-- </ul> -->
        </div>
    </body>
</html>
